{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">Donate</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br><br>
          <h4>Making a gift to BioEHS allows BioEHS to operate. Through donations by people like you, BioEHS recognizes people who excel in BioEngineering.</h4>
          <br>
          <p>Your donation allows us to keep on rewarding outstanding merit.</p>
          <p>Please contact <a href="mailto:president@bioehs.berkeley.edu">president@bioehs.berkeley.edu</a> to make a donation.</p>
        </div>
      </div>
    </div> <!-- /container -->

          </main>


        </body>
        {% endblock %}
