{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">Terms and Conditions</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <p>These terms and conditions govern your use of this website. By using this website, you accept these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.
You must be at least 18 years of age to use this website. By using this website you warrant and represent that you are at least 18 years of age and have the legal capacity to enter into binding agreements.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Acceptable use</h4>
          <p>You agree not to use this website in any way that causes, or may cause, damage to the website or its availability.</p><p>You agree not to use this website in any way which is illegal, harmful, or in connection with anything illegal or harmful.</p><p>You agree not to use this website to store or distribute any material that includes any malicious computer software.</p><p>BioEHS may disable your user account at BioEHS's sole discretion without notice or explanation.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>User content</h4><p>For the purposes of this section, "user content" means material that you submit to this website, for whatever purpose. You warrant and represent that BioEHS may distribute the user content.</p><p>Your user content must not be illegal and must comply with UC Berkeley campus policy, including its Course Note-Taking and Materials policy (available at <a href="http://campuspol.chance.berkeley.edu/policies/coursenotes.pdf">http://campuspol.chance.berkeley.edu/policies/coursenotes.pdf</a>).</p>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Changes to our Terms and Conditions</h4><p>If we decide to change our terms and conditions, we will post those changes on this page.</p><p>This policy was last modified on 10/12/14</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Contacting Us</h4><p>If there are any questions regarding these terms and conditions you may contact us using the information found <a href="/about/contact/">here</a>.</p>
      </div>
  </div>
    </div> <!-- /container -->

          </main>


        </body>
        {% endblock %}
