{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">Course Map</h1>
        <h3>Coming soon!</h3>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br><br>
          <p>The course map is a feature soon to be integrated into this site, and it will be a visualization of the order in which BioE classes can be taken and which concentration they are most geared towards.</p>
          <p>As for right now, we have set up course guides for several classes : </p>
          <li><a href="../../courseguides/bioe11">BioE 11</a></li>
	  <li><a href="../../courseguides/bioe100">BioE 100</a></li>
          <li><a href="../../courseguides/bioe101">BioE 101</a></li>
          <li><a href="../../courseguides/bioe102">BioE 102</a></li>
          <li><a href="../../courseguides/bioe103">BioE 103</a></li>
          <li><a href="../../courseguides/bioe104">BioE 104</a></li>
          <li><a href="../../courseguides/bioe110">BioE 110</a></li>
	  <li><a href="../../courseguides/bioe115">BioE 115</a></li>
          <li><a href="../../courseguides/bioe116">BioE 116</a></li>
          <li><a href="../../courseguides/bioec117">BioE C117</a></li>
          <li><a href="../../courseguides/bioec118">BioE C118</a></li>
          <li><a href="../../courseguides/bioec119">BioE C119</a></li>
          <li><a href="../../courseguides/bioe121">BioE 121</a></li>
          <li><a href="../../courseguides/bioe124">BioE 124</a></li>
          <li><a href="../../courseguides/bioe131">BioE 131</a></li>
          <li><a href="../../courseguides/bioe134">BioE 134</a></li>
          <li><a href="../../courseguides/bioe135">BioE 135</a></li>
          <li><a href="../../courseguides/bioe140l">BioE 140L</a></li>
          <li><a href="../../courseguides/bioe145">BioE 145</a></li>
          <li><a href="../../courseguides/bioe147">BioE 147</a></li>
          <li><a href="../../courseguides/bioe148">BioE 148</a></li>
          <li><a href="../../courseguides/bioe151">BioE 151</a></li>
	  <li><a href="../../courseguides/mcbc100a">MCB C100A</a></li>
          <p>If you have any suggestions for other student-oriented features you'd like to see integrated, please contact us at <a href="mailto:bioehs.webmaster@gmail.com?" target="_top">bioehs.webmaster@gmail.com</a> to let us know. Thanks!</p>
        </div>
      </div>
    </div> <!-- /container -->

          </main>


        </body>
        {% endblock %}
