{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">BioE 116 - Cell and Tissue Engineering (4 units)</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2><strong>Course Overview</strong></h2>
          <h4>Summary</h4>
          <p>The goal of tissue engineering is to fabricate substitutes to restore tissue structure and functions. Understanding cell function in response to environmental cues will help us to establish design criteria and develop engineering tools for tissue fabrication. This course will introduce the basic concepts and approaches in the field, and train students to design and engineer biological substitutes.</p>
          <br>
          <h4>Professors</h4>
          <li> <a href="../professors/songli">Song Li</a> </li?
          <br>
          <h4>Prerequisites</h4>
          <li><a href="bioe102">BioE 102</a></li>
	  <li><a href="mcbc100a">MCB C100A</a> (Recommended)</li>
	  <li><a href="bioe104">BioE 104</a> (Useful for second half of class)</li>
          <br>
          <h4>What's next?</h4>
          <li>N/A</li>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h2><strong>Choosing the course</strong></h2>
          <h4>What concentration is this course relevant to?</h4>
          <li>Cell and Tissue Engineering</li>
	  <li>Synthetic Biology</li>
	  <li>Pre-Med</li>
          <br>
          <h4>Topics covered</h4>
	  <li>Addressing current research in Cell and Tissue Engineering techniques
	  <li>Biomaterials
	  <li>Cell/Tissue Characterization, Culturing, and Preservation
          <br>
          <h4>When should I take the course?</h4>
          <p>The course is intended for undergraduate Juniors and Seniors.</p>
    </div>
      <div class="row">
        <div class="col-md-12">
        	<br>
        	<h2><strong>Workload and Tips</strong></h2>
        	<h4>What is the workload and exam diffculty?</h4>
        	<li>3 hours of lecture and 2 hours of homework</li>
        	<li>There is 1 midterm and a final. Exams are not too difficult and averages tend to be fairly high</li>	
        	<br>
        	<h4>What practical skills (for research/internship) can you gain from the class?</h4>
        	<li>Great for MCAT Prep for Pre-Meds</li>
        	<br>
        	<h4>Tips from students who have taken the class</h4>
        	<li>Midterm is fairly easy if concepts are well memorized</li>
		<li>Professor gives guidance for group project</li>
        	<br>
        	<h4>Quick links</h4>
        <p><a href="https://tbp.berkeley.edu/courses/bioe/116/">TBP Course Page</a></p>
      </div>


  </main>
</body>
{% endblock %}
