{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">BioE 102 - Biomechanics: Analysis and Design (4 units)</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2><strong>Course Overview</strong></h2>
          <h4>Summary</h4>
          <p>This course introduces, develops and applies the methods of continuum mechanics to biomechanical phenomena abundant in biology and medicine.  It is intended for upper level undergraduate students who have been exposed to vectors, differential equations, and undergraduate course(s) in physics and certain aspects of modern biology.</p>
          <br>
          <h4>Professors</h4>
          <li> <a href="../professors/mohammedmofrad">Mohammed Mofrad</a> </li>
          <br>
          <h4>Prerequisites</h4>
	  <li><a href="math53">Math 53</a></li>
          <li><a href="math54">Math 54</a></li>
	  <li><a href="physica7a">Physics 7A</a></li>
          <br>
          <h4>What's Next?</h4>
	  <li>BioE C112 (Molecular Biomechanics and Mechanobiology of the Cell)</li>
	  <li>BioE C117 (Structural Aspects of Biomaterials)</li>
	  <li>BioE C118 (Biological Performance of Biomaterials)</li>
          <li>BioE C119 (Orthopedic Biomechanics)</li>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h2><strong>Choosing the course</strong></h2>
          <h4>What concentration is this course relevant to?</h4>
          <li>Biomaterials, Biomechanics, and Cell and Tissue Engineering</li>
          <li>Biomedical Devices</li>
	  <li>Pre-Medical</li>
	  <li>BioE/MSE Joint Major</li>
          <br>
          <h4>Topics Covered</h4>
          <li>Stress/strain
	  <li>Statics
	  <li>Elasticity
	  <li>Viscoelasticity
	  <li>Energy/Work
	  <li>Lab Techniques in Cell Mechanics</li>
          <br>
          <h4>When should I take the course?</h4>
          <p>The course is intended for undergraduate Sophomores and Juniors.</p>
    </div>
      <div class="row">
        <div class="col-md-12">
        	<br>
        	<h2><strong>Workload and Tips</strong></h2>
        	<h4>What is the workload and exam diffculty?</h4>
        	<li>Weekly problem sets which take 2-3 hours per week</li>  
        	<li>COMSOL labs which can be done quickly and on your own time</li>	
        	<li>Reasonable exams as exams are written by GSI's</li>
        	<br>
        	<h4>What practical skills (for research/internship) can you gain from the class?</h4>
        	<li>COMSOL </li>
        	<br>
        	<h4>Tips from students who have taken the class</h4>
        	<li>Attend discussions and go to GSI office hours</li>
        	<br>
        	<h4>Quick links</h4>
        <p><a href="https://tbp.berkeley.edu/syllabi/1282/download/">Professor Mofrad's Fall 2019 Syllabus</a></p>
      </div>


  </main>
</body>
{% endblock %}
