{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">BioE 103 - Engineering Molecules 2 (4 Units)</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2><strong>Course Overview</strong></h2>
          <h4>Summary</h4>
          <p> Thermodynamic and kinetic concepts applied to understanding the chemistry and structure of biomolecules 
          	(proteins, membranes, DNA, and RNA) and their thermodynamic and kinetic features in the crowded cellular environment. 
          	The course obectives are (1) To introduce the basics of thermodynamics and chemical kinetics for molecular to cellular biological systems;
          	 (2) To give students an understanding of biological size and timescales illustrated through computational exercises on model problems in 
          	 physical biology.students will be able to  relate statistical thermodynamics and chemical kinetics to analyze molecular 
          	 and cellular behavior beyond the ideal gas and Carnot cycle. </p>
          <br>
          <h4>Professors</h4>
          <li> <a href="../professors/teresaheadgordon">Teresa Head-Gordon</a> </li>
          <li> <a href="../professors/gerardmarriott">Gerard Marriott</a> </li>
          <br>
          <h4>Prerequisites</h4> 
          <li><a href="physics7b">Physics 7B</a></li>
          <li><a href="math53">Math 53</a></li>
          <li><a href="math54">Math 54</a></li>
          <li><a href="bioe11">BioE 11</a></li>
          <br>
          <h4>What's next?</h4>
          <li><a href="bioe147">BioE 147</a></li>
   
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h2><strong>Choosing the course</strong></h2>
          <h4>What concentration is this course relevant to?</h4>
          <li>Cell and Tissue Engineering</li>
          <li>Synthetic and Computational Biology</li>
          <br>
          <h4>Topics covered</h4>
          <li>Entropy</li>
          <li>Bioenergetics</li>
          <li>Chemical Potential</li>
          <li>Enzyme Kinetics</li>
          <li>Diffusion and Transport</li>
          <li>Non-Equilibrium Systems and their connections to the cellular environment</li>
          <br>
        <h4>When should I take the course?</h4>
        <p>The course is intended for undergraduate students (sophomre/junior recommended) who have a solid understanding in biochemistry.</p>
    </div>
      <div class="row">
        <div class="col-md-12">
        	<br>
        	<h2><strong>Workload and Tips</strong></h2>
        	<h4>What is the workload and exam diffculty?</h4>
        	<p>Homeworks and class discussion tend to be challenging, but should be easily manageable if go to discussions and office hours. Lectures are less useful but should still be attended to get a cursory glance at material.</p>  
        	<p>There will be one/two midterm(s) and one final; exams were based on previously seen questions.</p>
        	<br>
        	<h4>What practical skills (for research/internship) can you gain from the class?</h4>
        	<li>Can be useful for interviews in tangential fields (mainly applicable to comp or syn bio) in things like pharmaceutical development</li>
        	<br>
        	<h4>Tips from students who have taken the class</h4>
        	<li>MCB C100A is a popular alternative for the class that covers similar material, but it does NOT count as a BioE fundamental for the major requirement.</li>
        	<br>
        	<h4>Quick links</h4>
        <p><a href="https://tbp.berkeley.edu/syllabi/656/download/">Spring 2017 syllabus</a></p>
      </div>
  </main>
</body>
{% endblock %}
