{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">BioE 11 - Engineering Molecules 1 (3 Units)</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2><strong>Course Overview</strong></h2>
          <h4>Summary</h4>
          <p> The goal of this course is to give students the background
in organic chemistry and biochemistry needed understand problems in synthetic
biology, biomaterials, computational biology, and molecular imaging. Emphasis is on basic mechanisms. Students will learn aspects of organic and
biochemistry required to begin the rational manipulation and/or design of
biological systems and the molecules they are comprised of. </p>
          <br>
          <h4>Professors</h4>
          <li> <a href="../professors/nirenmurthy">Niren Murthy</a> </li>
          <li> <a href="../professors/johndueber">John Dueber</a> </li>
          <br>
          <h4>Prerequisites</h4> 
          <li><a href="chem3a">Chem 3A</a></li>
          <br>
          <h4>What's next?</h4>
          <p>This course is the gateway to most of the upper division BioE courses. Below are some examples.</p>
          <li><a href="bioe103">BioE 103</a></li>
          <li><a href="mcbc100a">MCB C100A</a></li>
          <li><a href="bioe110">BioE 110</a></li>
          <li><a href="bioe114">BioE 114</a></li>
          <li><a href="bioe115">BioE 115</a></li>
          <li><a href="bioe124">BioE 124</a></li>
          <li><a href="bioec131">BioE C131</a></li>
          <li><a href="bioe150">BioE 150</a></li>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h2><strong>Choosing the course</strong></h2>
          <h4>What concentration is this course relevant to?</h4>
          <li>Biomedical Devices</li>
          <li>Biomedical Imaging</li>
          <li>Cell and Tissue Engineering</li>
          <li>Synthetic and Computational Biology</li>
          <br>
          <h4>Topics covered</h4>
          <ul>
          <li>Oragnic Chemistry
          	<ul>
          		<li>Basic molecular orbital theory
          		<li>Oragnic reaction mechanism
          		<li>Nucleophilic substitutions
          		<li>Equilibrium and rates
          		<li>Stereochemistry
          	</ul>
          <li>Biochemistry
          	<ul>
          		<li>Structure of DNA, RNA, amino acid, and proteins
          		<li>Enzyme catalysis and mechanism
          		<li>DNA and protein biosynthesis and regulation
            </ul>
           </ul>
          <br>
        <h4>When should I take the course?</h4>
        <p>The course is intended for undergraduate students (freshman/sophomore recommended) who have a foundation in organic chemistry and basic biochemistry and is required for the Bioengineeering major.</p>
    </div>
      <div class="row">
        <div class="col-md-12">
        	<br>
        	<h2><strong>Workload and Tips</strong></h2>
        	<h4>What is the workload and exam diffculty?</h4>
        	<p>There is no lab or project for this class. Time commitment is faily minimal, with one hw assignment per week which takes around 3 hours.</p>  
        	<p>There are two midterms and one final; exams align with the homework.</p>
        	<br>
        	<h4>What practical skills (for research/internship) can you gain from the class?</h4>
        	<li>Generally, the course is not extremely applicable as the skills you learn could easily be learned in a lab or internship.</li>
        	<br>
        	<h4>Tips from students who have taken the class</h4>
        	<li>If you are a pre-med student, taking Chem 3B before BioE11 will help a lot. The first half of class is moslty 3B material and it will minimize your workload.</li>
        	<br>
        	<h4>Quick links</h4>
        <p><a href="https://tbp.berkeley.edu/syllabi/984/download/">Spring 2019 syllabus</a></p>
      </div>
  </main>
</body>
{% endblock %}
