{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">BioE148 - Metabolic Engineering (3 units)</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2><strong>Course Overview</strong></h2>
          <h4>Summary</h4>
          <p>This course introduces students to the biological databases and file formats commonly used in computational biology, familiarizes students with the use of Unix scripting languages in bioinformatics workflows, and introduces common algorithms for sequence alignment,
RNA structure prediction, phylogeny and clustering, along with fundamentals of probability, information theory and algorithmic complexity analysis.</p>
          <br>
          <h4>Professors</h4>
          <li> <a href="../professors/johndueber">John Dueber</a> </li>
          <br>
          <h4>Prerequisites</h4>
          <li><a href="bio1a">Bio 1A</a></li>
          <li><a href="cs61a">CS 61A</a></li>
          <li><a href="cs70">CS 70</a></li>
          <li><a href="cs61b">CS 61B</a></li>
          <br>
          <h4>What's next?</h4>
          <li><a href="bioe145">BioE 145</a></li>
          <li><a href="cs176">CS 176</a></li>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h2><strong>Choosing the course</strong></h2>
          <h4>What concentration is this course relevant to?</h4>
          <li>Computational Biology</li>
          <br>
          <h4>Topics covered</h4>
	  <li>Computational approaches and techniques to gene structure and genome annotation</li>
	  <li>Sequence alignment using dynamic programming</li>
	  <li>Protein domain analysis</li>
	  <li>RNA folding and structure prediction</li>
	  <li>RNA sequence design for synthetic biology, genetic and biochemical pathways and networks</li>
	  <li>UNIX and scripting languages, basic probability and information theory</li>
	  <li>Case studies</li>
          <br>
          <h4>When should I take the course?</h4>
          <p>The course is intended for undergraduate Juniors and Seniors.</p>
    </div>
      <div class="row">
        <div class="col-md-12">
        	<br>
        	<h2><strong>Workload and Tips</strong></h2>
        	<h4>What is the workload and exam diffculty?</h4>
        	<li>Weekly homework assignments, which take about 3-4 hours to complete</li>
        	<li>Optional lab assignments</li>	
        	<li>Exams are open-note and difficult but manageable if the lectures are understood</li>
        	<br>
        	<h4>What practical skills (for research/internship) can you gain from the class?</h4>
        	<li>Good to get a feel of computational biology/Unix programming</li>
        	<br>
        	<h4>Tips from students who have taken the class</h4>
		<li>Knowing concepts such as probability and algorithms makes the class easier</li>
        	<br>
        	<h4>Quick links</h4>
        <p><a href="https://tbp.berkeley.edu/syllabi/1273/download/">Professor Holmes's Fall 2019 Syllabus</a></p>
	<p><a href="https://tbp.berkeley.edu/syllabi/1457/download/">Professor Holmes's Fall 2020 Syllabus</a></p>
      </div>


  </main>
</body>
{% endblock %}
