{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">BioE124 - Basic Principles of Drug Delivery (3 units)</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2><strong>Course Overview</strong></h2>
          <h4>Summary</h4>
          <p>This course combines concepts from organic chemistry, bioechemistry, and physical chemistry in order to provide students with the foundations needed to understand the literature and current problems in drug delivery.</p>
          <br>
          <h4>Professors</h4>
          <li> <a href="../professors/nirenmurthy">Niren Murthy</a> </li>
          <br>
          <h4>Prerequisites</h4>
          <li><a href="chem3a">Chem 3A</a> </li>
          <li><a href="chem3b">Chem 3B</a> </li>
          <li><a href="bioe11">BioE 11</a> </li>
          <br>
          <h4>What's next?</h4>
          <li>N/A</li>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h2><strong>Choosing the course</strong></h2>
          <h4>What concentration is this course relevant to?</h4>
          <li>Cell and Tissue Engineering</li>
          <br>
          <h4>Topics covered</h4>
	  <li>Organic chemistry</li>
	  <li>Pro-drug strategies</li>
	  <li>Targeted drug delivery</li>
	  <li>EPR effect</li>
	  <li>Delivery of liposomes and nanoparticles</li>
	  <li>Basic immunoengineering/development of synthetic vaccines</li>
	  <li>Drug eluting-polymers and polymer chemistries</li>
	  <li>Gene editing therapeutic strategies</li>
	  <li>Brain drug delivery</li>
          <br>
          <h4>When should I take the course?</h4>
          <p>The course is intended for undergraduate Juniors and Seniors.</p>
    </div>
      <div class="row">
        <div class="col-md-12">
        	<br>
        	<h2><strong>Workload and Tips</strong></h2>
        	<h4>What is the workload and exam diffculty?</h4>
        	<li>Weekly homework which take around 2-3 hours</li>	
        	<li>Two midterms and one final; exams are not extremely difficult, but it is easy to lose point for small mistakes (around 8 hours of prep per exam)</li>
        	<br>
        	<h4>What practical skills (for research/internship) can you gain from the class?</h4>
        	<li>Provides a good introduction to drug delivery research</li>
        	<br>
        	<h4>Tips from students who have taken the class</h4>
        	<p>N/A</p>
        	<br>
        	<h4>Quick links</h4>
        <p>N/A</p>
      </div>


  </main>
</body>
{% endblock %}
