{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">BioE 101 - Instrumentation in Biology and Medicine (4 units)</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2><strong>Course Overview</strong></h2>
          <h4>Summary</h4>
          <p>This course teaches the fundamental principles underlying modern sensing and control instrumentation used in biology and medicine. The course takes an integrative analytic and hands-on approach to measurement theory and practice by presenting and analyzing example instruments currently used for biology and medical research, including EEG, ECG, pulsed oximeters, Complete Blood Count (CBC), etc.</p>
          <br>
          <h4>Professors</h4>
          <li> <a href="../professors/stevenconnoly">Steven Conolly</a> </li>
	  <li> <a href="../professors/frankiemyers">Frankie Myers</a> </li>
          <br>
          <h4>Prerequisites</h4> 
          <li><a href="ee16a/b">EE 16A/B</a></li>
	  <li><a href="bioe105">BioE 105</a></li>
          <br>
          <h4>What's next?</h4>
          <li>BioE C165/L</li>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h2><strong>Choosing the course</strong></h2>
          <h4>What concentration is this course relevant to?</h4>
          <li>Biomedical Devices</li>
          <li>Biomedical Imaging</li>
          <br>
          <h4>Topics covered</h4>
          <li>Analog to Digital Converters
	  <li>Basic Signal Processing
	  <li>Introduction to Fourier Transforms
	  <li>SNR
	  <li>Dynamic Range
	  <li>Spec Sheets
	  <li>Op-Amp
	  <li>Preamps
          <li>Noise and Filters
          <li>Interference
	  <li>Sampling and Aliasing
          <li>Basic PCB Design</li>
          <br>
          <h4>When should I take the course?</h4>
          <p>The course is intended for undergraduate Sophomores, Juniors, Seniors.</p>
    </div>
      <div class="row">
        <div class="col-md-12">
        	<br>
        	<h2><strong>Workload and Tips</strong></h2>
        	<h4>What is the workload and exam diffculty?</h4>
        	<li>Weekly problem sets which rarely take more that a couple of hours to complete</li>  
        	<li>4-5 labs total, so it's not necessary to attend lab section every week.</li>	
        	<li>There are two midterms and no final; both exams are moderately difficult but straightforward.</li>
        	<li>There is a group design project at the end of the semester, which takes around 15 hours per week</li>
        	<br>
        	<h4>What practical skills (for research/internship) can you gain from the class?</h4>
        	<li>PCB Design</li>
		<li>Designing functional, real-world electronic devices</li>
        	<br>
        	<h4>Tips from students who have taken the class</h4>
        	<li>All of the information you will be expected to know will be presented in lecture, so attend the lectures and you will already be very well prepared for the exams</li>
        	<br>
        	<h4>Quick links</h4>
        <p><a href="https://tbp.berkeley.edu/syllabi/798/download/">Professor Connolly's Spring 2018 Syllabus</a></p>
      </div>


  </main>
</body>
{% endblock %}
