{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">BioE151 - Micro/Nanofluidics for Bioengineering and Lab-On-A-Chip (4 units)</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2><strong>Course Overview</strong></h2>
          <h4>Summary</h4>
          <p>This course introduces students to the theory relevant to fluid flow in microfluidic and nanofluidic systems supplemented by critical assessment of recent applications drawn from the literature.</p>
          <br>
          <h4>Professors</h4>
          <li> <a href="../professors/amyherr">Amy Herr</a> </li>
          <br>
          <h4>Prerequisites</h4>
          <li><a href="bioe11">BioE 11</a></li>
          <li><a href="bioe104">BioE 104</a></li>
          <li><a href="mece106">MecE 106</a></li>
          <br>
          <h4>What's next?</h4>
          <li>N/A</li>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h2><strong>Choosing the course</strong></h2>
          <h4>What concentration is this course relevant to?</h4>
          <li>Biomaterials/biomechanics</li>
          <li>Biomedical Devices</li>
	  <li>Cell/tissue engineering</li>
          <br>
          <h4>Topics covered</h4>
	  <li>Low Reynolds number flow</li>
    <li>Diffusion phenomena</li>
    <li>Electrokinetic systems and bioanalytical applications</li>
    <li>Navier-Stokes equation</li>
          <br>
          <h4>When should I take the course?</h4>
          <p>The course is intended for Juniors and primarily Seniors.</p>
    </div>
      <div class="row">
        <div class="col-md-12">
        	<br>
        	<h2><strong>Workload and Tips</strong></h2>
        	<h4>What is the workload and exam diffculty?</h4>
        	<li>3 hours of lecture and 1 hour discussion</li>
        	<br>
        	<h4>What practical skills (for research/internship) can you gain from the class?</h4>
        	<li>Great for those interested in microfluidic devices</li>
        	<br>
        	<h4>Tips from students who have taken the class</h4>
        	<li>Concepts/problem sets can be difficult so office hours and working in groups make it more manageable</li>
        	<br>
        	<h4>Quick links</h4>
        <p>N/A</p>
      </div>


  </main>
</body>
{% endblock %}
