{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">BioE 110 - Biomedical Physiology for Engineers (4 units)</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2><strong>Course Overview</strong></h2>
          <h4>Summary</h4>
          <p>This course introduces students to the physiology of human organ systems, with an emphasis on quantitative problem solving, engineering-style modeling, and applications to clinical medicine.</p>
          <br>
          <h4>Professors</h4>
          <li> <a href="../professors/dorianliepmann">Dorian Liepmann</a> </li>
	  <li> <a href="../professors/sanjaykumar">Sanjay Kumar</a> </li>
	  <li> <a href="../professors/michaelyartsev">Michael Yartsev</a> </li>
          <br>
          <h4>Prerequisites</h4>
          <li><a href="bio1a">Bio 1A</a> (Recommended)</li>
          <br>
          <h4>What's next?</h4>
          <li>N/A</li>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h2><strong>Choosing the course</strong></h2>
          <h4>What concentration is this course relevant to?</h4>
          <li>Cell and Tissue Engineering</li>
          <li>Biomedical Devices</li>
	  <li>Biomedical Imaging</li>
	  <li>Pre-Med</li>
          <br>
          <h4>Topics covered</h4>
	  <li>Membrane Transport
	  <li>Electrophysiology
	  <li>Various Organ Systems: Cardiovascular, Pulomnary, and Renal Systems
	  <li>Acid-Base pH Homeostasis
          <br>
          <h4>When should I take the course?</h4>
          <p>The course is intended for undergraduate Sophomores, Juniors, Seniors.</p>
    </div>
      <div class="row">
        <div class="col-md-12">
        	<br>
        	<h2><strong>Workload and Tips</strong></h2>
        	<h4>What is the workload and exam diffculty?</h4>
        	<li>3 hours of lecture, 1 hour discussion, and up to 3 hours of reading per week</li>
        	<li>Optional problem sets which take about 1-2 hours to complete</li>	
        	<li>There are two midterms and one final; exams are moderately difficult and involve a mix of mathematical problem solving and qualitative biological questions (similar to optional problem sets)</li>
        	<br>
        	<h4>What practical skills (for research/internship) can you gain from the class?</h4>
        	<li>Great for MCAT Prep for Pre-Meds</li>
        	<br>
        	<h4>Tips from students who have taken the class</h4>
        	<li>Keep up with the reading and don't fall behind</li>
		<li>Lecture presents reading material in a slightly condensed and concise manner</li>
		<li>Exams can be a bit long, so work quickly</li>
        	<br>
        	<h4>Quick links</h4>
        <p><a href="https://tbp.berkeley.edu/syllabi/325/download/">Professor Liepmann's Spring 2016 Syllabus</a></p>
	<p><a href="https://tbp.berkeley.edu/syllabi/1009/download/">Professor Kumar's Spring 2019 Syllabus</a></p>
      </div>


  </main>
</body>
{% endblock %}
