{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">BioE 100 - Ethics in Science and Engineering (3 units)</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2><strong>Course Overview</strong></h2>
          <h4>Summary</h4>
          <p>The goal of this semester course is to present the issues of professional conduct in the practice of engineering, research, publication, public and private disclosures, and in managing professional and financial conflicts. The method is through historical didactic presentations, case studies, presentations of methods for problem solving in ethical matters, and classroom debates on contemporary ethical issues. The faculty will be drawn from national experts and faculty from religious studies, journalism, and law from the UC Berkeley campus.</p>
          <br>
          <h4>Professors</h4>
          <li> <a href="../professors/dorianliepmann">Dorian Liepmann</a> </li>
	  <li> <a href="../professors/teresahead-gordon">Teresa Head-Gordon</a> </li>
          <br>
          <h4>Prerequisites</h4> 
          <li>N/A</li>
          <br>
          <h4>What's Next?</h4>
          <li>N/A</li>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h2><strong>Choosing the course</strong></h2>
          <h4>What concentration is this course relevant to?</h4>
          <li>Fulfills Ethics and H/SS requirement</li>
          <br>
          <h4>Topics covered</h4>
          <li>Ethical Frameworks in Science Experimentation
	  <li>Professional Conduct
	  <li>Animal & Human Research
	  <li>Scarce Medical Technologies
	  <li>Current Medical Dilemmas
	  <li>Case Studies</li>
          <br>
          <h4>When should I take the course?</h4>
          <p>The course is intended for any year and is a popular course for the Bioengineering major Ethics requirement.</p>
    </div>
      <div class="row">
        <div class="col-md-12">
        	<br>
        	<h2><strong>Workload and Tips</strong></h2>
        	<h4>What is the workload and exam diffculty?</h4>
        	<li>Weekly one page reflections, which take about 1 hour, along with peer reviewing fellow classmates' papers, which can be done in class</li>  
        	<li>Exam and final paper follow lecture material</li>	
        	<li>In-class debates</li>
        	<br>
        	<h4>What practical skills (for research/internship) can you gain from the class?</h4>
        	<li>N/A</li>
        	<br>
        	<h4>Tips from students who have taken the class</h4>
        	<li>Stay on top of deadlines</li>
		<li>Look at previous exams for practice, as structure for answers is very similar</li>
        	<br>
        	<h4>Quick links</h4>
        <p><a href="https://tbp.berkeley.edu/syllabi/1217/download/">Professor Liepmann's Spring 2020 Syllabus</a></p>
	<p><a href="https://tbp.berkeley.edu/syllabi/503/download/">Professor Head-Gordon's Fall 2015 Syllabus</a></p>
      </div>


  </main>
</body>
{% endblock %}
