{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">BioE 104 - Biological Mass Transport Phenomena (4 Units)</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2><strong>Course Overview</strong></h2>
          <h4>Summary</h4>
          <p>The transport of mass, momentum, and energy are critical to the function of living systems and the design of medical devices. Biological transport phenomena are present at a wide range of length scales: molecular, cellular, organ (whole and by functional unit), and organism. This course develops and applies scaling laws and the methods of continuum mechanics to biological transport phenomena over a range of length and time scales.</p>
          <br>
          <h4>Professors</h4>
          <li> <a href="../professors/terryjohnson">Terry Johnson</a> </li>
          <li> <a href="../professors/aaronstreets">Aaron Streets</a> </li>
          <br>
          <h4>Prerequisites</h4> 
          <li><a href="math53">Math 53</a></li>
          <li><a href="math54">Math 54</a></li>
          <li><a href="physics7a">Physics 7A</a></li>
          <br>
          <h4>What's next?</h4>
          <li>BioE 121/L</li>
          <li>BioE 151</li>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h2><strong>Choosing the course</strong></h2>
          <h4>What concentration is this course relevant to?</h4>
          <li>Biomedical Devices</li>
          <li>Cell and Tissue Engineering</li>
          <li>Synthetic and Computational Biology</li>
          <br>
          <h4>Topics covered</h4>
          <ul>
          <li>Diffusion of mass
          	<ul>
          		<li>Random Walk
          		<li>Fick's Law
          		<li>Stokes-Einstein
          		<li>Steady-state 1D diffusion in Cartesian, cylindrical, and spherical coordinates
          		<li>Quasi-Steady-State diffusion
          	</ul>
          <li>Diffusion and conservation of momentum
          	<ul>
          		<li>Navior-Stokes equation
          		<li>Dimensional Analysis
          		<li>Stokes' flow
          		<li>Bernoulli Principle
          	</ul>
          <li>Diffusion and Convection
          	<ul>
          	<li>Short contact time solution	
          	<li>Mass Transfer coefficients
          	</ul>
          <li>Diffusion and Reaction
          	<ul>
          	<li>Receptor and ligand binding
          	</ul>
        </ul>
          <br>
          <h4>When should I take the course?</h4>
          <p>The course is intended for undergraduate students (sophomore/junior recommended) who have taken a course in differential equations and an introductory course in physics. Students should be familiar with basic biology; an understanding of physiology is useful, but not assumed.</p>
    </div>
      <div class="row">
        <div class="col-md-12">
        	<br>
        	<h2><strong>Workload and Tips</strong></h2>
        	<h4>What is the workload and exam diffculty?</h4>
        	<p>About 4 hours per week on homework, but office hours are very accessible and help. You can feel a progression in the hw based on lecture material.</p>  
        	<p>Labs are low commitment, follow straightforward outline and submit as part of homework assignment.</p>	
        	<p>There is one midterm and one final; both exams are hard but fair.</p>
        	<p>There will be a final project in the end, where you choose your own project idea and work in a group of four to design your own fluid flow model.</p>
        	<br>
        	<h4>What practical skills (for research/internship) can you gain from the class?</h4>
        	<li>COMSOL modeling</li>
        	<br>
        	<h4>Tips from students who have taken the class</h4>
        	<li>Study the homework problems for the midterm and finals. Know the steps to solve each problem from the beginning and "middle" of each problem.</li>
        	<br>
        	<h4>Quick links</h4>
        <p><a href="https://drive.google.com/drive/u/1/folders/0BxsnKWVio8C3VXYtR3JsUVh4eDQ">Professor Terry Johnson's BioE104 course notes</a></p>
        <p><a href="https://drive.google.com/drive/u/1/folders/0BxsnKWVio8C3SWkzSk12UXRYM0E">Spring 2020 COMSOL labs</a></p>
        <p><a href="https://drive.google.com/drive/u/1/folders/0BxsnKWVio8C3RlFpVWVvcExYYW8">Spring 2020 lLecture slides</a></p>
        <p><a href="https://docs.google.com/document/d/1UgbuWBQiGTXAFKriWC39WNxpVsG5XogdwLqHzs8VUdg/edit">Spring 2020 syllabus</a></p>
      </div>


  </main>
</body>
{% endblock %}
