{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">BioE121 - BioMEMS and Medical Devices (4 units)</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2><strong>Course Overview</strong></h2>
          <h4>Summary</h4>
          <p>This course introduces students to the biophysical and chemical principles of biomedical devices, bionanotechnology, bionanophotonics, 
	     and biomedical microelectromechanical systems (BioMEMS).</p>
          <br>
          <h4>Professors</h4>
          <li> <a href="../professors/aaronstreets">Aaron Streets</a></li>
          <br>
          <h4>Prerequisites</h4>
          <li><a href="bioe104">BioE 104</a></li>
          <li><a href="physics7a">Physics 7A</a></li>
          <li><a href="physics7b">Physics 7B</a></li>
          <li><a href="chem3A">Chem 3A</a></li>
          <br>
          <h4>What's next?</h4>
          <li><a href="bioe121l">BioE 121L</a></li>
          <li><a href="bioe151">BioE 151</a></li>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h2><strong>Choosing the course</strong></h2>
          <h4>What concentration is this course relevant to?</h4>
          <li>Biomedical Devices</li>
          <br>
          <h4>Topics covered</h4>
	  <li>BioMEMS
	  <li>Nano- and Microfabrication
	  <li>Surface Micromachining and Soft-lithography
	  <li>DNA Arrays and Protein Arrays
	  <li>Microfluidic Devices
	  <li>Biosensors
	  <li>Point of Care Diagnostics
	  <li>Lab-On-a-Chip
	  <li>Drug Delivery
	  <li>DNA Sequencing and Proteomics
	  <li>Membrane Biophysics and Neural Interfaces
	  <li>Advanced Biomolecular Probes
          <br>
          <h4>When should I take the course?</h4>
          <p>The course is intended for undergraduate Juniors and Seniors.</p>
    </div>
      <div class="row">
        <div class="col-md-12">
        	<br>
        	<h2><strong>Workload and Tips</strong></h2>
        	<h4>What is the workload and exam diffculty?</h4>
        	<li>Weekly problem sets which take a few hours to complete</li>	
        	<li>Exams are moderately difficult, and self-made cheat sheet is allowed</li>
		<li>Final Project is moderately difficult and requires individual report which takes 20+ hours</i>
        	<br>
        	<h4>What practical skills (for research/internship) can you gain from the class?</h4>
        	<li>Introduces cutting-edge topics in microfluidics and biosensing</li>
        	<br>
        	<h4>Tips from students who have taken the class</h4>
        	<li>Points are awarded for well-written answers on exams, even if the answer is incorrect</li>
		<li>Class curve is generous</li>
        	<br>
        	<h4>Quick links</h4>
        <p><a href="https://tbp.berkeley.edu/syllabi/48/download/">Professor Lee's Spring 2015 Syllabus</a></p>
      </div>


  </main>
</body>
{% endblock %}
