{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">BioE 115 - Tissue Engineering Lab (4 units)</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2><strong>Course Overview</strong></h2>
          <h4>Summary</h4>
          <p>This class provides a conceptual and practical understanding of cell and tissue bioengineering that is vital for careers in medicine, biotechnology, and bioengineering. Students are introduced to cell biology laboratory techniques, including immunofluorescence, quantitative image analysis, protein quantification, protein expression, gene expression, and cell culture.</p>
          <br>
          <h4>Professors</h4>
          <li> <a href="../professors/michaelconboy">Michael Conboy</a> </li>
	  <li> <a href="../professors/irinaconboy">Irina Conboy</a> </li>
          <br>
          <h4>Prerequisites</h4>
          <li><a href="bioe114">BioE 114</a></li>
	  <li><a href="mcbc100a">MCB C100A</a> Recommended</li>
          <br>
          <h4>What's next?</h4>
          <li><a href="bioe116">BioE 116</a></li>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h2><strong>Choosing the course</strong></h2>
          <h4>What concentration is this course relevant to?</h4>
          <li>Cell and Tissue Engineering</li>
          <br>
          <h4>Topics covered</h4>
	  <li>Wet lab and Cell Biology techniques and procedures
	  <li>Challenges in Cell and Tissue Engineering
	  <li>Laboratory safety issues
	  <li>Experimental Design
          <br>
          <h4>When should I take the course?</h4>
          <p>The course is intended for undergraduate Juniors and Seniors, but can also be taken by Sophomores.</p>
    </div>
      <div class="row">
        <div class="col-md-12">
        	<br>
        	<h2><strong>Workload and Tips</strong></h2>
        	<h4>What is the workload and exam diffculty?</h4>
        	<li>2 hours of lecture, 4 hours of lab with prelabs and postlabs, and weekly quizzes</li>
        	<li>Research proposal and Final Presentation work take 10-15 hours per week</li>	
        	<li>There are no exams but only quizzes. Quizzes can be tricky but should be approachable if material is understood well.</li>
        	<br>
        	<h4>What practical skills (for research/internship) can you gain from the class?</h4>
        	<li>Basic wet lab techniques such as Western Blot, Flow Cytometry, Immunostaining, Cell Culturing, Protein & DNA Expression, RT-PCR, Microscropy, Critical Thinking, Experimental Design</li>
        	<br>
        	<h4>Tips from students who have taken the class</h4>
        	<li>Lectures are super helpful</li>
		<li>Most of the learning happens in the lab, and labs are all low-stress</li>
        	<br>
        	<h4>Quick links</h4>
        <p><a href="https://tbp.berkeley.edu/syllabi/826/download/">Professor Conboy's Spring 2018 Syllabus</a></p>
      </div>


  </main>
</body>
{% endblock %}
