{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">MCB C100A - Biophysical Chemistry: The Molecules of Life (4 Units)</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2><strong>Course Overview</strong></h2>
          <h4>Summary</h4>
          <p> The goal of this course is to give students the background
in organic chemistry and biochemistry needed understand problems in synthetic
biology, biomaterials, computational biology, and molecular imaging. Emphasis is on basic mechanisms. Students will learn aspects of organic and
biochemistry required to begin the rational manipulation and/or design of
biological systems and the molecules they are comprised of. </p>
          <br>
          <h4>Professors</h4>
          <li>John Kuriyan</a> </li>
          <li>David Savage</a> </li>
          <br>
          <h4>Prerequisites</h4> 
          <li><a href="bioe11">BioE 11</a> or Bio1A</li>
          <li><a href="chem3a">Chem 3A</a></li>
          <li><a href="chem3b">Chem 3B</a> Recommended</li>
          <br>
          <h4>What's next?</h4>
	  <li><a href="bioe147"> BioE 147</a></li>
          <li><a href="mcbc100b">MCB 100B</a></li>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h2><strong>Choosing the course</strong></h2>
          <h4>What concentration is this course relevant to?</h4>
          <li>Cell and Tissue Engineering</li>
          <li>Synthetic and Computational Biology</li>
          <br>
          <h4>Topics covered</h4>
          <li>Molecular distributions</li>
          <li>reaction kinetics</li>
          <li>enzyme kinetics</li>
          <li>Bioenergetics</li>
          <li>energy transduction</li>
          <li>motor proteins</li>
          <li>Electrochemical potential</li>
          <br>
        <h4>When should I take the course?</h4>
        <p>The course is intended for undergraduate students (sophomore/junior recommended) who have a foundation in organic chemistry and biochemistry.</p>
    </div>
      <div class="row">
        <div class="col-md-12">
        	<br>
        	<h2><strong>Workload and Tips</strong></h2>
        	<h4>What is the workload and exam diffculty?</h4>
        	<p>Aside from lectures and discussions, expect to spend 8 hours/week on the weekly problem sets, doing the recommended readings, and reviewing lecture materials in general.</p>  
        	<p>There are 3 midterms and 1 final exam. The curves are generally harsh. </p>
        	<br>
        	<h4>What practical skills (for research/internship) can you gain from the class?</h4>
        	<li>Helpful to know for understanding enzyme/DNA and enzyme/molecule interactions for practical real life synthetic biology research.</li>
        	<li>Very useful for MCAT, helps with research, is the gateway to a lot of other classes. </li>
        	<br>
        	<h4>Tips from students who have taken the class</h4>
        	<li>This class is a popular alternative to BioE103, but does NOT count as a fundamental in BioE major requirement.</li>
        	<br>
        	<h4>Quick links</h4>
        <p><a href="https://tbp.berkeley.edu/syllabi/651/download/">Fall 2017 syllabus</a></p>
      </div>
  </main>
</body>
{% endblock %}
