{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h3 class="display-3">Password Reset Confirmation</h3>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h3>Your password was successfully reset.</h3>
          <p>You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
        </div>
      </div>
    </div>
  </main>
</body>
{% endblock %}
