{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h3 class="display-3">Password Reset Sent</h3>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h3>Check your inbox.</h3>
          <br>
          <h6>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive the email shortly!</h6>
          <h6>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</h6>
          <br>
          <h6>Didn't request a password reset? No worries, you can ignore this message.</h6>
        </div>
      </div>
    </div>
  </main>
</body>
{% endblock %}
