{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h3 class="display-3">Password Reset Form</h3>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h3>Forgot your password or want to reset it?</h3>
          <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send me instructions!">
          </form>
        </div>
      </div>
    </div>
  </main>
</body>
{% endblock %}
