{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">Featured Alumni Network</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <br>
          <h5>Note, you'll need to <a href='https://www.linkedin.com/uas/login' target="_blank">sign into LinkedIn</a> for this to work.</h5>

          <div class="retro">BEACON 2.0</div>
          <p>Curious about life beyond your undergrad years? Interested in being mentored by a BioEHS alum? Click on the picture of each alum to learn more about them and contact them.</p>
          <p>If you want to contact any alumni, please fill out <a href='https://docs.google.com/forms/d/e/1FAIpQLScOlJYhDiTbq2LNsgTOWUOwyyKY0yVmzHl3netQea92zUtCfg/viewform' target="_blank">this form</a> so we can keep track of which alumni are contacted!</p>
          <p>If you are an alumnus, please see the bottom of the page.</p>
        </div>
      </div>
      {{alumniDetailHTML|safe}}
      <div class="row">
        <div class="col-md-12">
          <br><br>
          <div class="card text-white bg-dark mb-3">
  <div class="card-header"><h3>Join the Alumni Network</h3></div>
  <div class="card-body">
    <p>If you are a Bioengineering Honor Society Alumnus and wish to stay in the BioEHS network, please fill out this <a target="_blank" href={{beacon_alum_registration}}>form</a>.</p>
    <p>The form serves 2 purposes:</p>
    <ul>
      <li>To obtain a general census of the current status of Bioengineering alumni.</li>
      <li>To obtain information if you wish to be a mentor or point of contact for members or potential events/services.</li>
    </ul>
    <p>If your permission is indicated, your name and contact information will also be archived on our website and available to be viewed by BioEHS members only.</p>
    <p>If you have any questions, please direct them to <a href="mailto:president@bioehs.berkeley.edu">president@bioehs.berkeley.edu</a></p>
  </div>
</div>

        </div>
      </div>
    </div> <!-- /container -->
    {% load staticfiles %}
    <script src="{% static 'js/loading.js'%}" type="text/javascript"></script>
    {% load staticfiles %}
    <script src="{% static 'js/linkedin.js'%}" type="text/javascript"></script>
  </main>
</body>




{% endblock %}
