{% extends "header.html" %}
{% block content %}
{% if user.is_authenticated %}

<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">Profile</h1>
      </div>
    </div>


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
            <br>
            <div class="card text-center">
              <div class="card-header">
                <h4 class="card-title">{{user.get_full_name}}</h4>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><img src={{user.userprofile.image.url}}></li>
                  <li class="list-group-item"><strong>Username:</strong> {{user.username}}</li>
                  <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
                  <li class="list-group-item"><a class="btn btn-primary" href="/accounts/update/" role="button">Update Profile</a></li>
                </ul>
              </div>
              {% if user.userprofile.is_candidate %}
              <li class="list-group-item">
                <table class="table">
                  <br>
                  <h3><strong>Candidate Requirements</strong></h3>
                  <h4>Your candidate packet is linked <a href="https://docs.google.com/document/d/1GXB_dr0DM2Rz-9_fEu0TCCCDBfIC2Vbko85KN9qjKbM/edit?usp=share_link" target = "blank">here</a>!</h4>
              
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">General Events</th>
                      <th scope="col">Completed/Not Completed</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">Candidate Challenge Night</th>
                    {% if user.userprofile.candidate_challenge %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                    {% else %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">Candidate Retreat</th>
                    {% if user.userprofile.retreat %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                    {% else %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">Photoshoot</th>
                    {% if user.userprofile.photoshoot %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                    {% else %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">LinkedIn Workshop</th>
                    {% if user.userprofile.linkedin_workshop %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                    {% else %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">General Meeting 1</th>
                    {% if user.userprofile.gm_1 %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                    {% else %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">General Meeting 2</th>
                    {% if user.userprofile.gm_2 %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                    {% else %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">General Meeting 3</th>
                    {% if user.userprofile.gm_3 %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                    {% else %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">Cross Committee Conference</th>
                    {% if user.userprofile.ccc %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                    {% else %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">End of the Year Banquet</th>
                    {% if user.userprofile.banquet %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                    {% else %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                    {% endif %}
                  </tr>

                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Additional Events</th>
                      <th scope="col">Completed/Not Completed</th>
                    </tr>
                  </thead>
                  <tr>
                    <th scope="row">Professional Development Event</th>
                    {% if user.userprofile.prodev_event %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                    {% else %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">Academic Event</th>
                    {% if user.userprofile.academic_event %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                    {% else %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">Outreach Event</th>
                    {% if user.userprofile.outreach_event %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                    {% else %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">Project Event</th>
                    {% if user.userprofile.project_event %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                    {% else %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">Social Event 1</th>
                    {% if user.userprofile.social_event_1 %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                    {% else %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">Social Event 2</th>
                    {% if user.userprofile.social_event_2 %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                    {% else %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">Social Event 3</th>
                    {% if user.userprofile.social_event_3 %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                    {% else %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th scope="row">Officer Challenges</th>
                    {% if user.userprofile.officer_challenges %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                    {% else %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                    {% endif %}
                  </tr>

                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Action Items</th>
                      <th scope="col">Completed/Not Completed</th>
                    </tr>
                  </thead>>
                    <tr>
                      <th scope="row">Waiver Submission</th>
                      {% if user.userprofile.waiver_submission %}
                      <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                      {% else %}
                      <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th scope="row">Revised Résumé Submission</th>
                      {% if user.userprofile.resume_submission %}
                      <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                      {% else %}
                      <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th scope="row">Membership Dues Part 1 (Due at GM1)</th>
                      {% if user.userprofile.dues_1 %}
                      <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                      {% else %}
                      <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th scope="row">Membership Dues Part 2 (Due at GM3)</th>
                      {% if user.userprofile.dues_2 %}
                      <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                      {% else %}
                      <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                      {% endif %}
                    </tr>

                    <!-- <tr> TAKEN OUT BECUASE NOT REQUIRED
                      <th scope="row">Résumé Workshop</th>
                      {% if user.userprofile.resume_workshop %}
                      <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                      {% else %}
                      <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                      {% endif %}
                    </tr> -->   
                    <!-- <tr> TAKEN OUT BECAUSE NOT REQUIRED
                      <th scope="row">Buddy Hangouts</th>
                      {% if user.userprofile.buddy_hangouts %}
                      <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                      {% else %}
                      <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                      {% endif %}
                    </tr> -->
                    <!-- <tr> TAKEN OUT BECUASE NOT REQUIRED
                      <th scope="row">Family Competition</th>
                      {% if user.userprofile.family_competition %}
                      <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></td>
                      {% else %}
                      <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></td>
                      {% endif %}
                    </tr> -->
                  </tbody>
                </table>
                {% if user.userprofile.notes %}
                <h5>Notes for candidacy requirements:</h5>
                <p>{{user.userprofile.notes}}</p>
                {% endif %}
              </li>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
{% endif %}
{% endblock content %}
