{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

<!-- Material form is just a materialize thing for django forms -->
<div id="particles-js" ></div>
<div class="jumbotron-header">
  <div class="container" id="jumbotron-text">
    <h1 class="display-3">Update Profile</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <br>
          <form action="." method="POST" enctype="multipart/form-data" class="padding">
            {% csrf_token %} {{ noodle_form.as_p }}
            <div class="divider"></div>
            {{ formset.management_form }}
                {{ formset.as_p }}
            <button type="submit" class="btn btn-primary">Done</button>
        </form>
      </div>
        </div>
    </div>
    </main>
</body>

{% endblock %}
