{% extends "header.html" %}
{% block content %}
<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="particles-js" ></div>
    <div class="jumbotron-header">
      <div class="container" id="jumbotron-text">
        <h1 class="display-3">Contact Us</h1>
        <h5>We are open to email! Please feel free to reach out to us with any inquiries or feedback.</h5>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->

      <div class="row">
        <div class="col-sm-6">
          <br>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">For Companies</h5>
              <p class="card-text">If you are trying to contact us on behalf of a company, please reach out to our External Vice President at <a href="mailto:externalvp@bioehs.berkeley.edu?" target="_top">externalvp@bioehs.berkeley.edu</a> or feel free to visit our Industrial Relations page.</p>
              <a href="/industrial/" class="btn btn-primary">Industrial Relations</a>
            </div>
          </div>
          <br>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">General Inquiries</h5>
              <p class="card-text">For general inquiries, please reach out to our president at <a href="mailto:president@bioehs.berkeley.edu?" target="_top">president@bioehs.berkeley.edu.</a></p>
            </div>
          </div>
        </div>
  <div class="col-sm-6">
    <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Website Inquiries</h5>
        <p>To get in touch with the webmaster, or for any questions regarding the website, including bugs, privacy, and infringement, please use the following form.</p>
        <p>This site is also in beta release so we are extremely open to suggestions via this form!</p>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
              <button class="btn btn-success" type="submit">Send</button>
            </div>
        </form>
      </div>
    </div>
    <br>
  </div>

</div>
    </div>
</main>
</body>
{% endblock %}
